<style>
  .hidden {
    display: none;
  }
</style>

<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="cart-list">
          <table class="table">
            <thead class="thead-primary">
              <tr class="text-center">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Tên</th>
                <th>Gía</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
              </tr>
            </thead>
            <tbody id="cart-body">


            </tbody>
          </table>
        </div>
      </div>
    </div>

    <h1 id="emptyCart"
      style="display: flex; justify-content: center; align-items: center; height: 50vh; text-align: center; color: #ff4d4d; font-size: 24px; font-weight: bold;">
      Không có sản phẩm nào trong giỏ hàng
    </h1>

    <div class="row justify-content-center ">
      <!-- Thông tin đặt hàng -->
      <div class="col-lg-5 mt-5 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
          <p class="font-weight-bold">Thông tin đặt hàng</p>
          <form action="#" class="info">
            <div class="form-group">
              <label for="">Họ tên</label>
              <input type="text" class="form-control text-left px-3" style="font-weight: bold;" placeholder="">
            </div>
            <div class="form-group">
              <label for="country">Địa chỉ</label>
              <input type="text" class="form-control text-left px-3" style="font-weight: bold;" placeholder="">
            </div>
            <div class="form-group">
              <label for="country">Số điện thoại</label>
              <input type="text" class="form-control text-left px-3" style="font-weight: bold;" placeholder="">
            </div>
            <div class="form-group">
              <label for="country">Ghi chú</label>
              <input type="text" class="form-control text-left px-3" style="font-weight: bold;" placeholder="">
            </div>
          </form>
        </div>
        <p><a href="checkout.html" class="btn btn-primary py-3 px-4">Đặt hàng</a></p>
      </div>

      <!-- Tổng tiền -->
      <div class="col-lg-5 mt-5 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
          <p class="d-flex font-weight-bold">
            <span>Tổng tiền</span>
            <span>$20.60</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>